.logo{
    min-width: fit-content;
}
.logo img{
    width: 6rem;
    height: 4rem;
    margin-right: .4rem;
}

.logo>div{
    display: flex;
    align-items: center;
}

.logo p{
    font-size: .6rem;

}